<p>
  motion-sensor works!
</p>
<div class="row" *ngIf="!compatible || ((displayBeta + displayGamma + displayBeta) === 0)">
  <div class="col-12">
    <h4>Orientation is not supported. Sorry</h4>
  </div>
</div>
<ng-container *ngIf="compatible && ((displayBeta + displayGamma + displayBeta) !== 0)">
  <div class="row">
      <div class="col-12 col-md-4 offset-md-4 text-center">
      <h4>Orientation</h4>
      Beta: {{displayBeta}}
      <br/>
      Gamma: {{displayGamma}}
      <br/>
      Alpha: {{displayAlpha}}
    </div>
  </div>
  <div class="row my-2 divtransform">
    <div class="col-12 text-center">
      <img src="assets/phone.png" class="imgtransform" alt=""
        [ngStyle]="transformStyles$ | async"/>
    </div>
  </div>
</ng-container>