  
<div id="app-content" >
  <app-toolbar></app-toolbar>
  <div class="content">
    <video-player></video-player>
    <br />
    <stream-list></stream-list>
  </div>
<div>
  <app-motion-sensor></app-motion-sensor>
</div>
<div (onClick)="openView()">Click</div>
<div id="myPanoViewer"></div>
<script src="//naver.github.io/egjs-view360/release/latest/dist/PanoViewer/view360.panoviewer.pkgd.min.js"></script>
<!-- Specify the video tag. At this time, display: none is processed so that the video is not displayed as a duplicate. -->
<video id="videoSrc" style="width:100%;height:400px;display:none">

</video>

  <!--app-footer></app-footer-->
</div>
