  
<div id="app-content" >
  <app-toolbar></app-toolbar>
  <div class="content">
    <video-player></video-player>
    <br />
    <stream-list></stream-list>
  </div>
<div>
  <app-motion-sensor></app-motion-sensor>
</div>
<button (click)="start()">Click</button>


    <script type="text/javascript" charset="utf-8" src="https://cdn.rawgit.com/thiagopnts/kaleidoscope/master/dist/kaleidoscope.min.js"> </script>

    <div id="container360">
    <!--canvas width="2266" height="1732" style="height: 866px; width: 1133px; user-select: none; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0,0,0,0); cursor: -webkit-grab; cursor: -moz-grab; cursor: grab;"></canvas-->
    </div>

  <!--app-footer></app-footer-->
</div>
