  
<div id="app-content" >
  <app-toolbar></app-toolbar>
  <div class="content">
    <video-player></video-player>
    <br />
    <stream-list></stream-list>
  </div>
<div>
  <app-motion-sensor></app-motion-sensor>
</div>
<div (onClick)="openView()">Click</div>
<!--div id="myPanoViewer"></div-->
<script src="./assets/egjs-view360/release/latest/dist/PanoViewer/view360.panoviewer.pkgd.min.js"></script>
<!-- Specify the video tag. At this time, display: none is processed so that the video is not displayed as a duplicate. -->
<!--video id="videoSrc" style="width:100%;height:400px;display:none">
	<source src="../img/PanoViewer/pano.webm" type="video/webm">
	<source src="../assets/video/equi.mp4" type="video/mp4">
</video>
<script>
// create PanoViewer with option
var PanoViewer = eg.view360.PanoViewer;
var container = document.getElementById("myPanoViewer"); // The area where the video will be displayed (HTMLElement)
var videoTag = document.getElementById("videoSrc");
	
const panoViewer = new PanoViewer(container, {
	// If projectionType is not specified, the default is "equirectangular".
    video: videoTag // Specify an image tag.
  }
);
</script-->
<div class="viewer">
        <video id="pano_video" playsinline="playsinline" controls="" loop="" preload="auto" crossorigin="anonymous">
            <source src="../assets/video/equi.mp4" type="video/mp4">
        </video>
        <!--div class="container" tabindex="0" style="touch-action: none; user-select: none; -webkit-user-drag: none;">
        <canvas width="1600" height="960" style="bottom: 0px; left: 0px; right: 0px; top: 0px; margin: auto; max-height: 100%; max-width: 100%; outline: none; position: absolute;"></canvas></div-->
        <div class="play-container">
            <button class="play"></button>
        </div>
    			<div class="image360_loading"><div class="image360_loadingBar"></div></div>
          <div class="panoviewer-control">
          <button class="enterfs"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <g>			<path d="M30,5 L5,5 L5,30" fill="transparent" stroke="#fff" stroke-width="8" stroke-linejoin="round" stroke-linecap="round"></path>
          <path d="M70,5 L95,5 L95,30" fill="transparent" stroke="#fff" stroke-width="8" stroke-linejoin="round" stroke-linecap="round"></path>
          <path d="M30,95 L5,95 L5,65" fill="transparent" stroke="#fff" stroke-width="8" stroke-linejoin="round" stroke-linecap="round"></path>
          <path d="M70,95 L95,95 L95,65" fill="transparent" stroke="#fff" stroke-width="8" stroke-linejoin="round" stroke-linecap="round"></path>		</g>		</svg></button>
          				<button class="exitfs"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">		<g>			
                  <path d="M30,5 L30,30 L5,30" fill="transparent" stroke="#fff" stroke-width="8" stroke-linejoin="round" stroke-linecap="round"></path>			
                  <path d="M70,5 L70,30 L95,30" fill="transparent" stroke="#fff" stroke-width="8" stroke-linejoin="round" stroke-linecap="round"></path>			
                  <path d="M30,95 L30,65 L5,65" fill="transparent" stroke="#fff" stroke-width="8" stroke-linejoin="round" stroke-linecap="round"></path>			
                  <path d="M70,95 L70,65 L95,65" fill="transparent" stroke="#fff" stroke-width="8" stroke-linejoin="round" stroke-linecap="round"></path>		</g>		</svg></button>				
                  <div class="camera"><div class="pie" style="position: absolute; transform: rotateZ(-46.7164deg);"><svg viewbox="0 0 40 40" style="width: 40px; height: 40px;">
                  <path class="inner-pie" transform="translate(20, 20)" style="fill: rgba(255, 255, 255, 0.8);" d="M 0 0 v -20 A 20 20 1 0 1 19.964113365446398 1.197571514192167 z"></path></svg>
            </div>
                  <svg class="nav" width="40" height="40" viewbox="0 0 40 40"><circle class="range" cx="20" cy="20" r="18.5" stroke="rgba(255, 255, 255, 0.8)" stroke-dasharray="116.23892818282235, 0" stroke-width="2" fill="none" style="stroke-dashoffset: -29.0597;"></circle></svg></div>
                  </div>
                  </div>
<script>
    // create PanoViewer with option
    var PanoViewer = eg.view360.PanoViewer;
    var container = document.querySelector(".container");
    var videoEl = document.getElementById("pano_video");

    var panoViewer = new PanoViewer(container, {
      projectionType: "equirectangular",
        video: videoEl
    });
    document.querySelector(".play-container .play").addEventListener("click", function () {
        videoEl.play();
    });
    videoEl.addEventListener("play", function () {
        document.querySelector(".play-container").style.display = "none";
    })

    PanoControls.init(document.querySelector(".viewer"), panoViewer);
    PanoControls.showLoading();
</script>

  <!--app-footer></app-footer-->
</div>
